@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway';
*, html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body, html, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}

em, .text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  border-radius: 3px;
  width: 80px;
  padding: 10px;
  margin: 0;
  text-align: center;
  border: 1px solid #ccc;
}

.primary-button {
  background-color: #1893E4;
  color: #fff;
  border-color: #1893E4;
  transition: 0.25s ease-in-out;
}

.primary-button:hover {
  background-color: #2284c1;
  border-color: #2284c1;
}

.secondary-button {
  background-color: #1fc157;
  color: #fff;
  border-color: #1fc157;
  transition: 0.25s ease-in-out;
}

.secondary-button:hover {
  background-color: #19a84b;
  border-color: #19a84b;
}

#navigation-wrapper {
  background-color: transparent;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-branding-wrapper .navigation-title {
  font-family: Lobster, sans-serif;
  margin: 16px 0;
}

.navigation-links-wrapper .navigation-links {
  margin: 26px 0;
}

.navigation-links-wrapper .navigation-links a {
  text-decoration: none;
  color: #1f2024;
  font-size: 28px;
  line-height: 28px;
  padding-left: 20px;
  transition: 0.25s ease-in-out;
}

.navigation-links-wrapper .navigation-links a:hover {
  color: #3a84ff;
}

#hero {
  height: 680px;
  width: 100%;
  background: url("/images/hero.jpg") 50% 30% no-repeat;
  background-size: cover;
  margin-top: -80px;
}

.hero-snippet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 130px;
}

.hero-snippet-container .hero-snippet h3 {
  font-weight: 300;
}

#work {
  margin: 50px 0;
}

.work-section-title {
  margin-bottom: 50px;
}

.work-sample-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.work-sample-container .work-card-container {
  margin-bottom: 30px;
  width: 30%;
  -mox-box-shadow: 5px 5px 5px #ccc, -5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc, -5px 5px 5px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-sample-container .work-card-container .work-card-hero {
  height: 200px;
}

.work-sample-container .work-card-container .work-card-hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work-sample-container .work-card-container .work-card-content-container {
  padding: 20px;
}

.work-sample-container .work-card-container .work-card-content-container .work-title {
  font-family: Lobster, sans-serif;
  margin-bottom: 10px;
}

.work-sample-container .work-card-container .work-card-content-container .work-description {
  margin-bottom: 10px;
}

.work-sample-container .work-card-container .work-card-content-container .work-content {
  margin-bottom: 10px;
}

.work-sample-container .work-card-container .work-button-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.25s ease-in-out;
}

.work-sample-container .work-card-container .work-button-container a {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}
